In [1]:
# 참고 사이트 https://jumin.mois.go.kr/

In [2]:
# pip install openpyxl

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
# 1. 주민등록인구 및 세대현황 파일을 데이터프레임으로 가져옴

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('202208_202208_주민등록인구및세대현황_월간.csv',encoding='cp949')
data.head(2)

,행정구역,2022년08월_총인구수,2022년08월_세대수,2022년08월_세대당 인구,2022년08월_남자 인구수,2022년08월_여자 인구수,2022년08월_남여 비율
0,서울특별시 (1100000000),"9,488,454","4,472,975",2.12,"4,601,295","4,887,159",0.94
1,서울특별시 종로구 (1111000000),"143,499","73,866",1.94,"69,408","74,091",0.94

In [7]:
data = pd.read_excel('202208_202208_주민등록인구및세대현황_월간.xlsx', header=2)
data.head(2)

,행정기관코드,행정기관,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
0,1100000000,서울특별시,"9,488,454","4,472,975",2.12,"4,601,295","4,887,159",0.94
1,1111000000,서울특별시 종로구,"143,499","73,866",1.94,"69,408","74,091",0.94

In [8]:
# 2. 컬럼의 이름을 행정기관코드, 행정구역, 총인구수, 세대수, 세대당인구, 남자. 여자, 남여비율로 변경

In [9]:
data.columns

Index(['행정기관코드', '행정기관', '총인구수', '세대수', '세대당 인구', '남자 인구수', '여자 인구수', '남여 비율'], dtype='object')

In [10]:
data.columns = ['행정기관코드','행정구역', '총인구수', '세대수', '세대당 인구',
       '남자', '여자', '남여비율']

In [11]:
data.head(1)

,행정기관코드,행정구역,총인구수,세대수,세대당 인구,남자,여자,남여비율
0,1100000000,서울특별시,"9,488,454","4,472,975",2.12,"4,601,295","4,887,159",0.94

In [12]:
# 3. 남녀비율 컬럼을 제거

In [13]:
data.drop(columns=['남여비율'],inplace=True)
data.head(1)

       행정기관코드     행정구역       총인구수        세대수  세대당 인구         남자         여자
0  1100000000  서울특별시    9,488,454  4,472,975    2.12  4,601,295  4,887,159

In [14]:
# 4. 행정구역 컬럼을 이용해 시,구,동 컬럼을 만들어 분리해 넣고 부산지역의 값만 가지고 와서 인덱스를 새로 부여
# 동별 데이터(개별 데이터)만 남기고 대분류, 중분류에 해당하는 데이터는 삭제
# 부산지역의 값만 가지고 와서 인덱스를 새로 부여

In [15]:
# data.행정구역  데이터의 모양새 확인

In [16]:
data['시'] = data['행정구역'].str.split().str.get(0)  # 시 컬럼을 만들어 분리한 값 저장
data['구'] = data['행정구역'].str.split().str.get(1)
data['동'] = data['행정구역'].str.split().str.get(2)  # 부산은 3개로만 구성되어 있어서 3개로 분리(지역에 맞게)

In [17]:
data.head(3)   # 중간, 전체 합계는 제외하기

,행정기관코드,행정구역,총인구수,세대수,세대당 인구,남자,여자,시,구,동
0,1100000000,서울특별시,"9,488,454","4,472,975",2.12,"4,601,295","4,887,159",서울특별시,NaN,NaN
1,1111000000,서울특별시 종로구,"143,499","73,866",1.94,"69,408","74,091",서울특별시,종로구,NaN
2,1111051500,서울특별시 종로구 청운효자동,"11,766","5,198",2.26,"5,392","6,374",서울특별시,종로구,청운효자동

In [18]:
data.dropna(inplace=True)  # nan 값이 하나라도 있으면 행단위로 제거 inplace=True 해서 원래 데이터에 반영(아니면 다시 data에 담아도됨)

In [19]:
data.head(3)

,행정기관코드,행정구역,총인구수,세대수,세대당 인구,남자,여자,시,구,동
2,1111051500,서울특별시 종로구 청운효자동,"11,766","5,198",2.26,"5,392","6,374",서울특별시,종로구,청운효자동
3,1111053000,서울특별시 종로구 사직동,"9,278","4,668",1.99,"4,124","5,154",서울특별시,종로구,사직동
4,1111054000,서울특별시 종로구 삼청동,"2,384","1,188",2.01,"1,130","1,254",서울특별시,종로구,삼청동

In [20]:
busan = data[data['시'] == '부산광역시']  # 시열이 부산광역시인 데이터만 가져와서 busan에 담음

In [21]:
busan.reset_index(drop=True,inplace=True)  # 기존 인덱스 삭제
busan.head(2)

,행정기관코드,행정구역,총인구수,세대수,세대당 인구,남자,여자,시,구,동
0,2611051000,부산광역시 중구 중앙동,"3,139","2,435",1.29,"1,475","1,664",부산광역시,중구,중앙동
1,2611052000,부산광역시 중구 동광동,"2,590","1,703",1.52,"1,323","1,267",부산광역시,중구,동광동

In [22]:
# 5. 총인구수, 남자, 여자 컬럼의 데이터 타입을 정수형으로 변경

In [23]:
# ',' 제거
data.replace('[^\w]','',regex = True, inplace=True)
# busan['총인구수'] = busan['총인구수'].str.replace(',','').astype('int')
# busan['여자'] = busan['여자'].str.replace(',','').astype('int')
# busan['남자'] = busan['남자'].str.replace(',','').astype('int')
# int형으로 변경
data['총인구수'] = data['총인구수'].astype('int')
data['남자'] = data['남자'].astype('int')
data['여자'] = data['여자'].astype('int')
# data.총인구수
# data.남자
# to_numeric ? 
data.총인구수

2       11766
3        9278
4        2384
5        9411
6       17915
        ...
3860    11253
3861    15529
3862    13837
3863    12244
3864     3910
Name: 총인구수, Length: 3584, dtype: int32

In [24]:
# 6. 동별, 구별 부산 인구를 차트로 표시(인구순 5개동만)

In [25]:
# pip install matplotlib

In [26]:
# pip install seaborn

In [27]:
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
busan_gu=busan.groupby('구')['총인구수'].sum().sort_values(ascending=False).head(5) # 내림차순 정렬
busan_gu=busan_gu.reset_index()
# 구가 인덱스로 되어있음 -> 밑 행에서 x값으로 구를 넣기 위해서는 열로 지정되어 잇어야함
# rest_index() 사용하면 인덱스를 새로 부여하고 기존의 인덱스는 새로운 열로 만들어줌

In [29]:
sns.barplot(data=busan_gu, x='구', y='총인구수')

TypeError: Neither the `x` nor `y` variable appears to be numeric.

In [ ]:
busan_dong=busan.sort_values(by='총인구수',ascending=False).head(5)

In [ ]:
sns.barplot(data=busan_dong, x='동', y='총인구수')

In [ ]:
# 7. 동별, 구별 남여 인구를 차트로 표시(인구순 5개동만)

In [ ]:
# 8. ChoropLeth, geojson을 이용하여 도별 인구수를 색상별로 지도에 표시

In [ ]:
# 부산의 위치값 하나 가져오기
# 키값(읍면동) 이름이 맞지 않아 일부 지역은 까맣게 표시됨

In [ ]:
for item in jsondata['features']:  
    # jsondata에 있는 것 중에 features를 하나씩 가져와 item에 넣음(딕셔너리 하나)
    #print(item['properties']['sidonm']
    if item['properties']['sidonm'] == '제주특별자치도' :
        #print(item['properties']['adm_nm'])
        dong = item['properties']['adm_nm'].split()[-1].strip() 
        # strip으로 공백제거, split 된 것 중 가장 뒤의 값
        item['id'] = dong
        jsondata_pick.append(item)
        
        # 오른쪽 데이터에 '-제'가 있는건 하나밖에 없음 -> 그 부분만 수정할 수 있도록
        # '거제'의 '-제'는 빼면 안됨

In [ ]:
import folium
busan_loc = [35.2144654,128.9805666]
m = folium.Map(busan_loc, zoom_start=11)
folium.Choropleth(geo_data = jsondata_busan,
                  data = busan,
                  columns=['동','총인구수'],
                  fill_color = 'YlGn',
                  key_on = 'feature.id').add_to(m)
m

In [ ]:
json_dong = sorted(jsondata_dong)  # 파이썬에서 기본 제공하는 함수
json_dong # ㄱㄴ 순으로 정리됨

In [ ]:
df_dong = sorted(busan['동'])
df_dong

In [30]:
len(json_dong)
len(df_dong)  # zip함수 쓰기 위해 길이가 맞는지 확인

NameError: name 'json_dong' is not defined

In [ ]:
for i, item in enumerate(zip(json_dong, df_dong)):
    print(i,item)
# zip은 json_dong, df_dong 둘 다 리스트임 첫번째 것끼리 묶어서 리턴시킴(길이가 맞아야함)
# 행안부 데이터는 '-제'가 붙어있음 -> 둘을 맞춰야 함 -> '-제'를 빼는 것으로('-제'를 덧붙이면 이중으로 붙을수도)